<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/error.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <form 
        method="POST"
        enctype="multipart/form-data"
        class="product-form" 
        action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST">
            <% if (errorMessage) { %>
                <p class="main-error-message">
                    <%= errorMessage %>
                </p>
            <% } %>
            <div class="form-control">
                <label for="title">Title</label>
                <input 
                class="<%= errorArray?.find(err => err.path == 'title') ? 'error-input' : '' %>"
                type="text"
                name="title"
                id="title"
                value="<%= savedData?.title !== null ? savedData?.title : editing ? product.title : '' %>"
            >
            <% if (errorArray?.find(err => err.path == 'title')) { %>
                <p class="error-message">
                    <%= errorArray?.find(err => err.path == 'title').msg %>
                </p>
            <% } %>
            </div>
            <div class="form-control">
                <label for="image">Image</label>
                <input
                class=""
                type="file"
                accept=".jpg, .png, .jpeg"
                name="image" 
                id="image"
            >
            <!-- <% if (errorArray?.find(err => err.path == 'imageUrl')) { %>
                <p class="error-message">
                    <%= errorArray?.find(err => err.path == 'imageUrl').msg %>
                </p>
            <% } %> -->
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input 
                class="<%= errorArray?.find(err => err.path == 'price') ? 'error-input' : '' %>"
                type="number" 
                name="price" 
                id="price" 
                step="0.01" 
                value="<%= savedData?.price !== null ? savedData?.price : editing ? product.price : '' %>"
                >
                <% if (errorArray?.find(err => err.path == 'price')) { %>
                    <p class="error-message">
                        <%= errorArray?.find(err => err.path == 'price').msg %>
                    </p>
                <% } %>
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea
                class="<%= errorArray?.find(err => err.path == 'description') ? 'error-input' : '' %>"
                name="description"
                id="description"
                rows="5">
                  <%= savedData?.description !== null ? savedData?.description : editing ? product.description : '' %>
                </textarea>

                <% if (errorArray?.find(err => err.path == 'description')) { %>
                    <p class="error-message">
                        <%= errorArray?.find(err => err.path == 'description').msg %>
                    </p>
                <% } %>
            </div>
            <% if (editing) { %>
                <input type="hidden" value="<%= productId %>" name="productId">
            <% } %>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit"><% if (editing) { %>Update Product<% } else { %>Add Product<% } %></button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>